<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controll.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controll.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaseController</servlet-name>
        <servlet-class>controll.CaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUserController</servlet-name>
        <servlet-class>controll.adminUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controll.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductCon</servlet-name>
        <servlet-class>controll.CreateProductCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePDController</servlet-name>
        <servlet-class>controll.UpdatePDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>com.profile.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookController</servlet-name>
        <servlet-class>com.Doctor.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteListController</servlet-name>
        <servlet-class>com.Doctor.DeleteListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.ForgetPass.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOTP</servlet-name>
        <servlet-class>com.ForgetPass.ValidateOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>com.ForgetPass.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductByNameASC</servlet-name>
        <servlet-class>controll.ListProductByNameASC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUpController</servlet-name>
        <servlet-class>controll.ListUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDownController</servlet-name>
        <servlet-class>controll.ListDownController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateUser</servlet-name>
        <servlet-class>controll.adminUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteUser</servlet-name>
        <servlet-class>controll.adminDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddNews</servlet-name>
        <servlet-class>controll.adminAddNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteNews</servlet-name>
        <servlet-class>controll.adminDeleteNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateNews</servlet-name>
        <servlet-class>controll.adminUpdateNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>com.Doctor.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorController</servlet-name>
        <servlet-class>com.Doctor.DoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCase</servlet-name>
        <servlet-class>Case.AddCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesignateController</servlet-name>
        <servlet-class>Admin.DesignateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDesignateController</servlet-name>
        <servlet-class>Admin.EditDesignateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryPatientController</servlet-name>
        <servlet-class>com.profile.HistoryPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NormalBooking</servlet-name>
        <servlet-class>Admin.PatientWaitingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientController</servlet-name>
        <servlet-class>Admin.SearchPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewNormalController</servlet-name>
        <servlet-class>Admin.AddNewNormalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>com.profile.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>Admin.MessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>Admin.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineController</servlet-name>
        <servlet-class>Admin.MedicineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDesignateListController</servlet-name>
        <servlet-class>Admin.UpdateDesignateListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>Staff.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookingController</servlet-name>
        <servlet-class>Staff.ListBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientBookedController</servlet-name>
        <servlet-class>Staff.SearchPatientBookedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusBooked</servlet-name>
        <servlet-class>Staff.UpdateStatusBooked</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingController</servlet-name>
        <servlet-class>Staff.CancelBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookController</servlet-name>
        <servlet-class>com.profile.CancelBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientCountController</servlet-name>
        <servlet-class>CountPatient.PatientCountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesignateListController</servlet-name>
        <servlet-class>Admin.DesignateListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.profile.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>controll.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminNewsController</servlet-name>
        <servlet-class>controll.adminNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetailController</servlet-name>
        <servlet-class>controll.NewsDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUserController</servlet-name>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>com.profile.SignupController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaseController</servlet-name>
        <url-pattern>/case</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeController</servlet-name>
        <servlet-class>com.profile.ChangeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeController</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetController</servlet-name>
        <servlet-class>controll.ForgetController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetController</servlet-name>
        <url-pattern>/forget</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.profile.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.profile.ProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controll.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductCon</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePDController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookController</servlet-name>
        <url-pattern>/searchbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteListController</servlet-name>
        <url-pattern>/deletelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOTP</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/updatereset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductByNameASC</servlet-name>
        <url-pattern>/ListProductByNameASC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUpController</servlet-name>
        <url-pattern>/ListUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDownController</servlet-name>
        <url-pattern>/ListDownController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUpdateUser</servlet-name>
        <url-pattern>/adminUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteUser</servlet-name>
        <url-pattern>/adminDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminNewsController</servlet-name>
        <url-pattern>/listnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetailController</servlet-name>
        <url-pattern>/newsdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddNews</servlet-name>
        <url-pattern>/addnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteNews</servlet-name>
        <url-pattern>/deleteNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUpdateNews</servlet-name>
        <url-pattern>/updateNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorController</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCase</servlet-name>
        <url-pattern>/newcase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignateController</servlet-name>
        <url-pattern>/designate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDesignateController</servlet-name>
        <url-pattern>/editDesignate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryPatientController</servlet-name>
        <url-pattern>/historyPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NormalBooking</servlet-name>
        <url-pattern>/normalbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientController</servlet-name>
        <url-pattern>/searchPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewNormalController</servlet-name>
        <url-pattern>/AddnewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serviceListController</servlet-name>
        <url-pattern>/serviceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServiceController</servlet-name>
        <url-pattern>/searchService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductByPriceController</servlet-name>
        <url-pattern>/ListProductByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductByCategory0Controller</servlet-name>
        <url-pattern>/ListProductByCategory0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductByCategory1Controller</servlet-name>
        <url-pattern>/ListProductByCategory1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServiceController</servlet-name>
        <url-pattern>/adminService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddServiceController</servlet-name>
        <url-pattern>/adminAddService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>serviceListController</servlet-name>
        <servlet-class>controll.serviceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServiceController</servlet-name>
        <servlet-class>controll.searchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductByPriceController</servlet-name>
        <servlet-class>controll.ListProductByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductByCategory0Controller</servlet-name>
        <servlet-class>controll.ListProductByCategory0Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductByCategory1Controller</servlet-name>
        <servlet-class>controll.ListProductByCategory1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServiceController</servlet-name>
        <servlet-class>controll.adminServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddServiceController</servlet-name>
        <servlet-class>controll.adminAddServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineController</servlet-name>
        <url-pattern>/medicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDesignateListController</servlet-name>
        <url-pattern>/updateDesignateList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookingController</servlet-name>
        <url-pattern>/listbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientBookedController</servlet-name>
        <url-pattern>/searchPatientBooked</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusBooked</servlet-name>
        <url-pattern>/updateboooked</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddDesignate</servlet-name>
        <servlet-class>Case.AddDesignate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicine</servlet-name>
        <servlet-class>Case.AddMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDesignate</servlet-name>
        <url-pattern>/new_designate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicine</servlet-name>
        <url-pattern>/new_medicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingController</servlet-name>
        <url-pattern>/cancellistbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookController</servlet-name>
        <url-pattern>/cancelbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientCountController</servlet-name>
        <url-pattern>/countPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignateListController</servlet-name>
        <url-pattern>/designateManagement</url-pattern>
    </servlet-mapping>  
    <servlet>
        <servlet-name>addUserControll</servlet-name>
        <servlet-class>controll.addUserControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUserControll</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProductController</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminProductController</servlet-name>
        <servlet-class>controll.adminProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateProduct</servlet-name>
        <servlet-class>controll.adminUpdateProduct</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>adminUpdateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controll.ProductDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controll.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controll.CheckOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
</web-app>
